body{
  background: linear-gradient(to right, #1488cc, #2b32b2);
}

 .album-block h1, .album-block img, .album-block h2, .album-block .text{
display: inline-block;
}

.album-block h1{
  width: 60px;
  //padding-right: 30px;
}




.album-block{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
  background-color: #fff;
}

.album-block:hover{
  transform: scale(1.01);
}

ul li{
  display: inline-block;
}

ul li:last-child {
  margin-top: 20px;
  vertical-align: middle;
  margin-left: 20px
  width:75%;
}
 ul li:first-child{
   width: 5%
 }
 ul li:nth-child(2){
   width:20%
 }
ul li:nth-child(2), ul li:first-child {
  vertical-align: middle;
}

li h2{
  font-size: 20px;
}

li a{
  color: #000;
}

li a:hover{
  color: #000;
  text-decoration: none;
}

li h3{
  font-size: 18px;
}

li img{
  max-width: 150px;
  width: 100%;
}



/* New Css */
.album-block {
  display: flex;
  align-items: center;
}
.album-block h1{
  text-align: center;
}

.album-block h2{
  font-size: 20px;
}
.album-block h3{
  font-size: 15px;
}

li a{
  color: #000;
}

.album-block a:hover{
  color: #000;
  text-decoration: none;
}

.album-block a{
  color: #000;
}
